@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table>
        <tr>
            <td><img class="page-image" src="~/Content/images/page/FAQ.png" /></td>
            <td><h2>Frequently Asked Questions</h2></td>
        </tr>
    </table>
</div>

<div>
    @if (User.IsInRole("Administrator"))
    {
        @(Html.Kendo().ToolBar()
        .Name("FaqToolbar")
        .Items(i =>
        {
            i.Add().Type(CommandType.Button).Text("Add").Icon("plus").Click("onAdd");
            i.Add().Type(CommandType.Button).Text("Edit").Icon("pencil").Click("onEdit").HtmlAttributes(new { @class = "edit-button" });
            i.Add().Type(CommandType.Button).Text("Delete").Icon("close").Click("onDelete").HtmlAttributes(new { @class = "delete-button" });
        })
        )
    }

    @(Html.Kendo().Grid<GA.Data.FAQ>().Name("FaqGrid")
            .Columns(c =>
            {
                c.Bound(n => n.FAQId).Visible(false);
                c.Bound(n => n.Question).Title("Frequently Asked Question's").HeaderHtmlAttributes(new { style = "text-align: center; font-size: x-large;" });
                c.Bound(n => n.Answer).Visible(false);
            })
            .ClientRowTemplate(
                "<tr>" +
                    "<td>" +
                        "<table><tr>" +
                            "<td class='left'><h4>#: Question #?</h4></td>" +
                        "</tr>" +
                        "<tr><td colspan='2'>" +
                        "<span class='article'>#: Answer #</span>" +
                        "</td></tr><tr><td><br /></td></tr></table>" +
                    "</td>" +
                "</tr>"
            )
            .DataSource(ds => ds
                .Ajax()
                .Events(e => e.Error("errorHandler"))
                .Model(model => model.Id(m => m.FAQId))
                .Read("Get", "FAQs")
            )
            .Events(e => e.Change("onSelectionChanged"))
            .Selectable()
    )

</div>
<style>
    .k-grid .k-header {
       display: none;
    }
    .k.grid, .k-grid * {
        border: 0 !important;
    }

    .left {
        text-align: left;
        background-color: darkgreen;
        color: white;
    }

    .right {
        text-align: right;
        background-color: darkgreen;
        color: white;
    }

    .article {
        margin-bottom: 100px;
        padding-bottom: 100px;
    }
</style>
<script type="text/javascript">

    $(document).ready(function() {
        var toolbar = $("#FaqToolbar");
        var editButton = $(toolbar).find(".edit-button");
        var deleteButton = $(toolbar).find(".delete-button");
        if (editButton != null) {
            editButton.addClass("k-state-disabled");
            console.log("Disable Edit Button");
        }
        if (deleteButton != null) {
            deleteButton.addClass("k-state-disabled");
            console.log("Disable Delete Button");
        }
    });

    function errorHandler(e, grid) {
        document.getElementById('error').innerHTML = "";
        if(e.errors){
            document.getElementById('error').innerHTML = e.errors;
            $('#FaqGrid').data('kendoGrid').dataSource.read();
            $('#FaqGrid').data('kendoGrid').refresh();
        }
        else{
            document.getElementById('error').innerHTML = "";
        }
    }

    function onSelectionChanged(e) {
        console.log("onSelectionChanged() Begin");
        var grid = $("#FaqGrid").data("kendoGrid");
        var toolbar = $("#FaqToolbar");
        var selectedItem = grid.dataItem(grid.select());
        var editButton = $(toolbar).find(".edit-button");
        var deleteButton = $(toolbar).find(".delete-button");

        if (selectedItem != null) {
            console.log("Have a selected item");
            if (editButton != null) {
                editButton.removeClass("k-state-disabled");
                console.log("Enable Edit Button");
            }
            if (deleteButton != null) {
                deleteButton.removeClass("k-state-disabled");
                console.log("Enable Delete Button");
            }
        }
        else {
            if (editButton != null) {
                editButton.addClass("k-state-disabled");
                console.log("Disable Edit Button");
            }
            if (deleteButton != null) {
                deleteButton.addClass("k-state-disabled");
                console.log("Disable Delete Button");
            }
        }
        console.log("onSelectionChanged() End");
    }

    function onAdd(e) {
        console.log("onAdd()");
        var url = '@Url.Action("Create", "FAQs")';
        window.location.href = url;
        return false;
    }

    function onEdit(e) {
        console.log("onEdit()");
        var id = getId();
        if(id != 0) {
            var url = '@Url.Action("Edit", "FAQs", new { id = "__id__" } )'
                .replace("__id__", id);
            window.location.href = url;
        }
        return false;
    }

    function onDelete(e) {
        console.log("onDelete()");
        var id = getId();
        if(id != 0) {
            var url = '@Url.Action("Delete", "FAQs", new { id = "__id__" })'
                .replace("__id__", id);
            window.location.href = url;
        }
        return false;
    }

    function getId() {
        var grid = $("#FaqGrid").data("kendoGrid");
        var Id = "0";
        var selectedItem = grid.dataItem(grid.select());
        if (selectedItem != null) {
            Id = selectedItem.FAQId;
        }
        console.log("Selected FAQId: " + Id);
        return Id;
    }

</script>

