@model GA.Data.MemberWinnings

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <table>
        <tr>
            <td><img class="page-image" src="~/Content/images/page/money.png" /></td>
            <td><h2>Create Member Winnings</h2></td>
        </tr>
    </table>
</div>

@if (ViewBag.Success != null && ViewBag.Success)
{
    <div class="result">
        <h4>@ViewBag.Message</h4>
        <p>Event:  @ViewBag.Event</p>
        <p>Member: @ViewBag.Member</p>
        <p>Type:   @ViewBag.Type</p>
        <p>Amount: @ViewBag.Amount</p>
    </div>
}
else if(ViewBag.Success != null)
{
    <div class="text-danger">
        <h4>Create failed: @ViewBag.Message</h4>
    </div>
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MemberId, "Member", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <table>
                    <tr>
                        <td>
                            @(Html.Kendo().AutoCompleteFor(model => model.DisplayName)
                                .Name("DisplayName")
                                .DataTextField("DisplayName")
                                .DataSource(ds => ds.Read("GetList", "Members"))
                                .Filter("contains")

                            )
                        </td>
                        <td>
                            <div class="add-member">
                                @(Html.ActionLink("Add Member", "Create", "Members"))
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WinningTypeId, "Winning Type", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownList()
                    .Name("WinningTypeId")
                    .DataTextField("WinningType")
                    .DataValueField("WinningTypeId")
                    .DataSource(ds => ds.Read("GetWinningTypes", "Select"))
                )
                @Html.ValidationMessageFor(model => model.WinningTypeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().NumericTextBoxFor(model => model.Amount).Decimals(2))
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EventId, "Event", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownList()
                    .Name("EventId")
                    .DataTextField("Title")
                    .DataValueField("EventId")
                    .DataSource(ds => ds.Read("GetList", "Events", new { year = ViewBag.Year }))
                    .Template("<table><tr width:250px;'><td width='100px;'>#=kendo.toString(kendo.parseDate(data.EventEnd), 'MMMM dd')#</td><td width='190px;'>#=data.Title#</td></tr></table>")
                    .HtmlAttributes(new { style = "width: 300px;"})
                )
                @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FlightId, "Flight", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @(Html.Kendo().DropDownList()
                    .Name("FlightId")
                    .DataTextField("Name")
                    .DataValueField("FlightId")
                    .DataSource(ds => ds.Read("GetFlights", "Events"))
                    .HtmlAttributes(new { style = "width: 300px;" })
                )
                @Html.ValidationMessageFor(model => model.EventId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Money List", "Manage")
</div>

<script type="text/javascript">
    $(document).ready(function () {

        // Selects the Text in the Amount Numeric Textbox
        $("#Amount").focus(function () {
            var input = $(this);
            setTimeout(function(){
                input.select();
            })
        })

        // Clear the text in the Autocomplete when ViewBag.Success is true
        if("@ViewBag.Success" !== null && "@ViewBag.Success" == "True"){
            $("#DisplayName").data("kendoAutoComplete").value('');
        }
    })
</script>

<style>
    .result{
        border:solid;
        padding: 10px 10px 10px 10px;
    }
    .add-member{
        padding-left: 10px;
    }
</style>

